# =========================
# YOLO & Machine Learning
# =========================
runs/
wandb/
*.pt
*.pth
*.weights

# =========================
# Datasets & Media
# =========================
roboflow_dataset/
dataset3/
images/
*.zip
*.jpg
*.jpeg
*.png
*.mp4
*.avi

# =========================
# Python Caches & Environments
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
Scripts/

# =========================
# IDE & OS Files
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db